@reference '../../app/globals.css';

/** Mosaik Theme Variables */
.DesktopLayout {
  --app-content-padding: 8px;
  --desktop-header-min-height: 4rem;
}

.NavigationLink {
  @apply p-4 hover:bg-hover;
}

.NavigationLink.active {
  @apply bg-active;
}

.DesktopContent {
  padding: var(--app-content-padding);
}

.DesktopSidebar .ActionBar {
  @apply h-[var(--desktop-header-min-height)];
}
